/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.12,
* Autoprefixer: v10.4.4
* Browsers: last 4 version
*/

/**google font**/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Nunito+Sans:wght@200;300;400&family=Roboto:ital,wght@0,400;0,500;0,700;1,900&display=swap');

/** font-family
font-family: 'Montserrat', sans-serif;
font-family: 'Nunito Sans', sans-serif;
font-family: 'Roboto', sans-serif;

**/
/**default css**/
 html{
   font-size: 62.5%; /*10px*/
 }
 body{
   margin: 0;
   font-family: 'Nunito Sans', sans-serif;
   font-size: 1.6rem;
	 scroll-behavior: smooth;
 }
 h1,h2,h3,h4,h5,h6,p,ul{
   margin: 0;
 }

 ul{
	padding: 0;
	list-style: none;
 }
a{
	display: inline-block;
	text-decoration: none;
	color: #FFF;
}
p{
	font-family: 'Nunito Sans', sans-serif;
	color: #FFF;
	font-size: 1.6rem;
	line-height: 25px;
}
h1{
	font-family: 'Roboto', sans-serif;
	color: #FFF;
}
h2{
	color: #FFF;
	font-family: 'Roboto', sans-serif;
	font-size: 4rem;
	font-weight: 700;

}

h3{
 	color: #FFF;
  font-family: 'Roboto', sans-serif;
}

img{
  display: block;
}
.container{
	max-width: 1200px;
	width: 100%;
	margin: auto;
}

.btn{
	font-size: 1.5rem;
	padding: 10px 20px;
	background: #5454D4;
	border-radius: 7px;
	-webkit-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
}
.btn:hover{
	background: #1F1F2D;
}

.section-padding{
  padding: 80px 0;
}

/**banner-area**/
.banner{
	background: #19191B;
	position: relative;
	overflow: hidden;
	z-index: 9999;
}
.banner:after{
	content: "";
	position: absolute;
	width: 267px;
	height: 333px;
	left: 0;
	top: 0;
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(84, 84, 212, 0.27)), to(rgba(84, 84, 212, 0.1134)));
	background: -o-linear-gradient(top, rgba(84, 84, 212, 0.27) 0%, rgba(84, 84, 212, 0.1134) 100%);
	background: linear-gradient(180deg, rgba(84, 84, 212, 0.27) 0%, rgba(84, 84, 212, 0.1134) 100%);
	-webkit-filter: blur(300px);
	        filter: blur(300px);
	border-radius: 233.5px;
	-webkit-transform: rotate(-54.37deg);
	    -ms-transform: rotate(-54.37deg);
	        transform: rotate(-54.37deg);
	z-index: -9;
}
.banner:before{
	content: "";
	position: absolute;
	width: 267px;
	height: 399px;
	right: 0;
	bottom: 0;
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(251, 168, 28, 0.1066)), to(rgba(224, 86, 136, 0.0615)));
	background: -o-linear-gradient(top, rgba(251, 168, 28, 0.1066) 0%, rgba(224, 86, 136, 0.0615) 100%);
	background: linear-gradient(180deg, rgba(251, 168, 28, 0.1066) 0%, rgba(224, 86, 136, 0.0615) 100%);
	-webkit-filter: blur(300px);
	        filter: blur(300px);
	border-radius: 233.5px;
	-webkit-transform: rotate(65.71deg);
	    -ms-transform: rotate(65.71deg);
	        transform: rotate(65.71deg);
	z-index: -9;
}
.banner-img img{
	height: 500px;
	width: 100%;
}
.menu-area{
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding: 50px 0;
}
.logo{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.logo a{
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 800;
	font-size: 2.2rem;
	color: #FFF;
	padding-left: 25px;
	-webkit-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
}
.logo a:hover{
	color:#B4B7BA;
}
.menu ul{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.menu ul li a{
	font-size: 1.6rem;
	padding: 0 25px;
	-webkit-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
	font-weight: 600;
}
.menu ul li a:hover{
	color:#5555D3;;
}

.contact ul li a{
	font-size:1.6rem;
	font-weight: 600;
	border: 1px solid #FFF;
	padding: 5px 20px;
	border-radius: 5px;
	-webkit-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
}
.contact ul li a:hover{
	background: #5555D3;;
}

.menu-bar{
  display:none;  
}
.menu-bar i{
	border:2px solid #5E6282;
	font-size:3.5rem;
	margin-left: 20px;
	padding:2px 5px;
	-webkit-box-sizing:border-box;
	        box-sizing:border-box;
	border-radius:3px;
}
.menu-bar i:hover{
	background: #998675;
	color: black;
}
.banner-content-img{
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: (1fr)[2];
	grid-template-columns: repeat(2, 1fr);
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding: 40px 0;
}
.banner-content h1{
	max-width: 400px;
	width: 100%;
	font-size: 5.8rem;
	font-weight: 700;
	-webkit-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
}
.banner-content h1:hover{
	color:#5555D3;
}
.banner-content p{
	max-width: 430px;
	width: 100%;
	padding: 40px 0;
}
.mobile_contact{
	display: none;
}
.mobile_contact ul li a{
	font-size:1.6rem;
	font-weight: 600;
	border: 1px solid #FFF;
	padding: 5px 20px;
	border-radius: 5px;
	-webkit-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
}
.mobile_contact ul li a:hover{
	background:#5555D3;
	color: #FFF;
}
/**choice-area**/
.choice-area{
	background: #19191B;
}
.choice-heading{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.choice-heading h2{
	-webkit-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
	padding-right: 8rem;
}
.choice-heading h2:hover{
	color:#5555D3;
}
.choice-video{
	position: relative;
}
.choice-video img{	
	margin-top: 50px;
	height: 650px;
	width: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
}
.video-icon{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.video-icon i{
	position: absolute;
	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
	left:50%;
	top: 50%;
	font-size: 5rem;
	color: #5454D4;
	-webkit-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
}
.video-icon i:hover{
	color: #FFF;
}
/**service-area**/
.service-area{
 	background: #19191B;
 	position: relative;
 	overflow: hidden;	
}
.service-area:after{
	content: "";
	position: absolute;
	width: 400px;
	height: 508.5px;
	left: 0;
	top: 0;
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(84, 84, 212, 0.21)), to(rgba(84, 84, 212, 0.0882)));
	background: -o-linear-gradient(top, rgba(84, 84, 212, 0.21) 0%, rgba(84, 84, 212, 0.0882) 100%);
	background: linear-gradient(180deg, rgba(84, 84, 212, 0.21) 0%, rgba(84, 84, 212, 0.0882) 100%);
	-webkit-filter: blur(300px);
	        filter: blur(300px);
	border-radius: 233.5px;
	-webkit-transform: rotate(-54.37deg);
	    -ms-transform: rotate(-54.37deg);
	        transform: rotate(-54.37deg);
}
.service-title{
	text-align: center;
}
.service-title h2{
	max-width: 600px;
	margin: auto;
	padding-bottom: 100px;
	-webkit-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
}
.service-title h2:hover{
	color:#5555D3;
}
.service{
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 50px 1fr 50px 1fr;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 50px;
	grid-row-gap: 100px;
}

.single-service img{
	margin: auto;
	-webkit-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
}
.single-service img:hover{
	-webkit-transform:rotateY(-180deg);
	        transform:rotateY(-180deg);
}
.single-service a{
	font-family: 'Nunito Sans', sans-serif;
	padding: 20px 0;
	display: block;
}
.single-service{
	text-align: center;
}
.single-service p{
	text-align: center;
	max-width: 300px;
	margin: auto;
}

/**awesome-area**/
.awesome-area{
	background:#19191B;
}
.awesome{
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 20px 1fr 20px 1fr;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 20px;
}
.awesome-title h2{
	padding-bottom: 100px;
	-webkit-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
}
.awesome-title h2:hover{
	color: #5555D3;
}
.single-awesome1 img{
	border: 6px solid #303841;
	border-radius: 20px;
	width: 100%;
	margin-top: -50px;
	-webkit-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
}
.single-awesome2 img{
	border: 6px solid #303841;
	border-radius: 20px;
	width: 100%;
}
.single-awesome3 img{
	border: 6px solid #303841;
	border-radius: 20px;
	width: 100%;
	margin-top: 50px;
	-webkit-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
}
.single-awesome1 img:hover{
	-webkit-transform: translateY(50px);
	    -ms-transform: translateY(50px);
	        transform: translateY(50px);
}

.single-awesome3 img:hover{
	-webkit-transform: translateY(-50px);
	    -ms-transform: translateY(-50px);
	        transform: translateY(-50px);	
}

/**contact-area**/
.contact-area{
	background:#19191B;
}
.contact{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.contact h2{
	max-width: 650px;
	-webkit-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
}
.contact h2:hover{
	color: #5555D3;
}
/**footer-area**/
.footer-area{
	background: black;
	opacity: .9;
}
.footer{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding-top: 30px;
	padding-bottom: 70px;
}
.footer-list ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
}
.footer-list ul li a{
	font-family: 'Nunito Sans', sans-serif;
	color: #FFF;
 	font-size: 1.6rem;
 	padding: 0 20px;
}
.footer p{
	font-size: 1.6rem;
}
